<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>7685FD6689899C8E55ABC97B15433FAE</string>
            <key>code2</key>
            <string>781F4603538AA98490B6402B57ED3426</string>
            <key>code3</key>
            <string>BEEC7509912979067FA039FB5310E93B</string>
            <key>code4</key>
            <string>2DED4F430A6731E66834B126DFFFC6AC</string>
        </dict>
        <key>agcgw</key>
        <dict>
            <key>backurl</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>url</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>websocketbackurl</key>
            <string>connect-ws-drcn.hispace.dbankcloud.com</string>
            <key>websocketurl</key>
            <string>connect-ws-drcn.hispace.dbankcloud.cn</string>
        </dict>
        <key>agcgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>DE</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-dre.hispace.hicloud.com</string>
            <key>RU</key>
            <string>connect-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-dra.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-dra.hispace.hicloud.com</string>
        </dict>
        <key>websocketgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-ws-drcn.hispace.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-ws-drcn.hispace.dbankcloud.com</string>
            <key>DE</key>
            <string>connect-ws-dre.hispace.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-ws-dre.hispace.dbankcloud.com</string>
            <key>RU</key>
            <string>connect-ws-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-ws-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-ws-dra.hispace.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-ws-dra.hispace.dbankcloud.com</string>
        </dict>
        <key>oauth_client</key>
        <dict>
            <key>client_id</key>
            <string>109163857</string>
            <key>client_type</key>
            <string>22</string>
        </dict>
        <key>configuration_version</key>
        <string>3.0</string>
        <key>app_info</key>
        <dict>
            <key>app_id</key>
            <string>172249065902707212</string>
            <key>package_name</key>
            <string>com.oseasy.empmobile</string>
        </dict>
        <key>client</key>
        <dict>
            <key>cp_id</key>
            <string>890086000300080341</string>
            <key>product_id</key>
            <string>388421841221592637</string>
            <key>client_id</key>
            <string>1208046280333348736</string>
            <key>client_secret</key>
            <string>[!009FAE44F1235C3A276F56039BA82E2914CB490ED27AF965FE975D42D1EC47C998A078AFA70538DADBF55FD841E312F2E5EF2A87C6AA860765C6DEC938001AF18229F4D1D973A6926701B9312111BF74D34E314BE15B3A79686A0AD15A23AB41B5]</string>
            <key>project_id</key>
            <string>388421841221592637</string>
            <key>app_id</key>
            <string>172249065902707212</string>
            <key>api_key</key>
            <string>DAEDADo5C8jF+jV+xtKAUlfBpF5mVOdUrHwh90X9ap3hLOiiWX35rjcA56iIIltk3zIlDl9TB9wy5v2HbmyeD3wEaDlJspSEw7JMUQ==</string>
            <key>package_name</key>
            <string>com.oseasy.empmobile</string>
        </dict>
        <key>service</key>
        <dict>
            <key>edukit</key>
            <dict>
                <key>dh_url</key>
                <string>edukit.edu.cloud.huawei.com.cn</string>
                <key>edu_url</key>
                <string>edukit.edu.cloud.huawei.com.cn</string>
            </dict>
            <key>analytics</key>
            <dict>
                <key>channel_id</key>
                <string/>
                <key>collector_url</key>
                <string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
                <key>collector_url_cn</key>
                <string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
                <key>collector_url_de</key>
                <string>datacollector-dre.dt.hicloud.com,datacollector-dre.dt.dbankcloud.cn</string>
                <key>collector_url_ru</key>
                <string>datacollector-drru.dt.dbankcloud.ru,datacollector-drru.dt.hicloud.com</string>
                <key>collector_url_sg</key>
                <string>datacollector-dra.dt.hicloud.com,datacollector-dra.dt.dbankcloud.cn</string>
                <key>resource_id</key>
                <string>p1</string>
            </dict>
            <key>search</key>
            <dict>
                <key>url</key>
                <string>https://search-drcn.cloud.huawei.com</string>
            </dict>
            <key>ml</key>
            <dict>
                <key>mlservice_url</key>
                <string>ml-api-drcn.ai.dbankcloud.com,ml-api-drcn.ai.dbankcloud.cn</string>
            </dict>
            <key>cloudstorage</key>
            <dict>
                <key>storage_url</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
                <key>storage_url_cn</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
                <key>storage_url_cn_back</key>
                <string>https://agc-storage-drcn.cloud.huawei.com.cn</string>
                <key>storage_url_de</key>
                <string>https://ops-dre.agcstorage.link</string>
                <key>storage_url_de_back</key>
                <string>https://agc-storage-dre.cloud.huawei.eu</string>
                <key>storage_url_ru</key>
                <string>https://agc-storage-drru.cloud.huawei.ru</string>
                <key>storage_url_ru_back</key>
                <string>https://agc-storage-drru.cloud.huawei.ru</string>
                <key>storage_url_sg</key>
                <string>https://ops-dra.agcstorage.link</string>
                <key>storage_url_sg_back</key>
                <string>https://agc-storage-dra.cloud.huawei.asia</string>
            </dict>
        </dict>
        <key>region</key>
        <string>CN</string>
        <key>appInfos</key>
        <array>
            <dict>
                <key>package_name</key>
                <string>com.oseasy.empmobile</string>
                <key>client</key>
                <dict>
                    <key>client_secret</key>
                    <string>[!0097CFACB3ADE8F118CBEE4092DD6DC5D49D530D88910E8F7C9F3F04B6547C4D7C9AC3F37D9891DD0D4A9820F0ED9A71F370412961F117E1075204DEBA9199A5329AD53411264FA2EA52C4BC0F2CC1F64971686AAC7C040E5ADB2523FD7960943B]</string>
                    <key>app_id</key>
                    <string>172249065902707212</string>
                </dict>
                <key>code</key>
                <dict>
                    <key>code1</key>
                    <string>CD8EC106A9CD4F84862BBBD779F20BEF617648B796C1647F5F58427065C62F85</string>
                    <key>code2</key>
                    <string>75CE92679E2AE30DC3C2FDDD2B46B59C2BD01620129D78E7225CD0B74A853619</string>
                    <key>code3</key>
                    <string>03088C4CD77B477DB226BEDB45D8EC62238678B686B367A1CA139E6EC695FEDC</string>
                    <key>code4</key>
                    <string>0277A602B039E10C75630550AC116F2F</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
